<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="d:\pycharm\pywebb\scripts\python.exe|d:\pycharm\pywebb\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="d:\pycharm\pywebb\scripts\mblog" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="D:\pycharm\mblog.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="DJANGO_SETTINGS_MODULE" value="mblog.settings" />
  </appSettings>
</configuration>